<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand">Mov</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/movies']">Movies <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/addSalle']">Salles <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<div class="card">
  <div class="card-header">
    ADD Salle
  </div>
  <div class="card-body">
    <form #Form="ngForm">

      <div class="form-group col-12">
        <label>Name Salle</label>
        <input type="text" class="form-control" #nom="ngModel" ngModel name="nom" required
               pattern="[a-zA-Z ]*">
      </div>
        <div *ngIf="!nom?.valid && (nom?.dirty || nom?.touched)" class="alert alert-danger">

          <strong *ngIf="nom.errors.required">Salle name is required </strong>
          <strong *ngIf="nom.errors.pattern">Only characters are allowed  </strong>
        </div>

      <div class="form-group col-12">
        <label>Capacity</label>
        <input type="text" class="form-control" #capacite="ngModel" ngModel name="capacite" required
               pattern="^[0-9]+$">
      </div>
        <div *ngIf="!capacite?.valid && (capacite?.dirty || capacite?.touched)" class="alert alert-danger">
          <strong *ngIf="capacite.errors.required">Salle capacite is required </strong>
          <strong *ngIf="capacite.errors.pattern">
            Only numbers are allowed </strong>
        </div>
      <div class="form-group col-12">
        <button type="submit" class="btn btn-primary mr-2" [disabled]="!Form.valid"
                (click)="salleService.addSalle(Form.value)">save
        </button>
        <button type="reset" class="btn btn-primary mr-2">Cancel</button>
      </div>


    </form>
  </div>


</div>


